.localized-close2 {
  float: right;
  padding-right: 5px;
  position:relative;
  top:-7px;
right:-7px;
  color: #aaaaaa;
}

.localized2 {
  text-align: center;
  background: #FFFFB7;
  position: relative;
  color: black;
  padding-top:10px;
  padding-bottom:1px;
  padding-left:10px;
  padding-right:10px;
  float: left;
  left: 170px;
margin-top:5px;
width: 70%
}

.localized-btn {
margin-left:5px;
margin-right:5px;
}